<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Quest Store</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/loginstyle.css">
    <link rel="shortcut icon" type="image/png" href="/static/recourses/codecoolThumbnail.png">
    <link rel="stylesheet" href="/static/css/levelsPage.css">
</head>


<body>
    <header>
        <div class="content">
            <nav>
                <ul id="navToolBar">

                    <li><img src="/static/recourses/codecoolLogoprecel.png"></li>
                    <li><a href="/admin/mentors">Mentors</a></li>
                    <li><a href="./classes.html">Classes</a></li>
                    <li><a href="/admin/levels">Levels</a></li>
                    <li style="float:right"> <a href="../login.html">log out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="Field">
        <div class="content1">
            <h2>
                <table id="levels-table">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>range</th>
                            <th> </th>

                        </tr>
                    </thead>
                    {% for level in levels%}
                    <tr>
                        <td>{{level.getName}}</td>
                        <td>{{level.getMaxValue}}</td>
                        <td><input type="button" onclick="alert('changed')" value="change">
                            <input type="button" onclick="alert('deleted')" value="delete">
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </h2>
        </div>

        <div class="add-new-level">
            <form>
                <label for="name">Enter new level's name </label>
                <input type="text" name="name" id="level-name" value="new level name">
                <label for="range">Enter new level's range </label>
                <input type="text" name="range" id="level-range" value="new level range">
                <input type="button" onclick="alert('added')" value="Add">
            </form>
        </div>
    </section>




    <!-- FOOTER -->
    <footer>
    </footer>

</body>