<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Quest Store</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
     <link rel="stylesheet" href="/static/css/listsStyle.css">
    <link rel="shortcut icon" type="image/png" href="/static/recourses/codecoolThumbnail.png">

</head>


<body>
    <header>
        <div class="content">
            <nav>
                <ul id="navToolBar">
                  <a href="/admin"><li><img src="/static/recourses/codecoolLogoprecel.png"></li></a>
                  <li><a href="./mentorList.html">Mentors</a></li>
                  <li><a href="./classes.html">Classes</a></li>
                  <li><a href="./levelsPage.html">Levels</a></li>
                  <li style="float:right"> <a href="../login.html">log out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    

    
        <div class="usersList">
            <h4>Mentors List</h4>
        
            <table>
              <tr class="tableHead">
                <th>ID</th>
                <th class="name">Full Name</th>
                <th>DelButton</th>
                <th>UpdButton</th>
                <th>PrfButton</th>
                <th>StdButton</th>
              </tr>
               {% for fullName in listName %}
              <tr>

                <td>1</td>
                <td class="name">{{ fullName }}</td>
                <td> <input type="button" value="Delete"> </td>
                <td><button onclick="location.href='./createUpdateMentor.html'" type="button">Update</button></td>
                <td><button onclick="location.href='./profile.html'" type="button">Profile</button></td>
                <td><button onclick="location.href='./studentList.html'" type="button">Students</button></td>

              </tr>
               {% endfor %}


              <div class="addButton"> 
              <button class="inputButton" onclick="location.href='./createUpdateMentor.html'" type="button">Add</button>
            </div>
             
             
            </table>
        </div>

</body>