<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Quest Store</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/profileForAdmin.css">
    <link rel="shortcut icon" type="image/png" href="/static/recourses/codecoolThumbnail.png">
</head>


<body>
    <header>
        <div class="content">
            <nav>
                <ul id="navToolBar">
                    <li><img src="/static/recourses/codecoolLogoprecel.png"></li>
                    <li><a href="/admin/mentors">Mentors</a></li>
                    <li><a href="./classes.html">Classes</a></li>
                    <li><a href="./levelsPage.html">Levels</a></li>
                    <li style="float:right"> <a href="../login.html">log out</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="profileContent">
        <h1>profile</h1>
        <div class="profile">
            <div class="profile-left">
                <img src="/static/recourses/zgredek.gif" width="200" height="210">
            </div>
            <div class="profile-right">
                <table style="width:100%">
                    <h2>personal information</h2>
                    <tr>
                        <td class="profile-setting">name:</td>
                        <td class="user-entry">{{firstName}}</td>
                    </tr>
                    <tr>
                        <td class="profile-setting">surname:</td>
                        <td class="user-entry">{{lastName}}</td>
                    </tr>

                </table>  
                <table style="width:100%">
                    <h2>contact</h2>
                    <tr>
                        <td class="profile-setting">phone number:</td>
                        <td class="user-entry">{{phoneNum}}</td>
                    </tr>
                    <tr>
                        <td class="profile-setting">e-mail:</td>
                        <td class="user-entry">{{email}}</td>
                    </tr>
                    <tr>
                        <td class="profile-setting">github:</td>
                        <td class="user-entry">Not yet defined</td>
                    </tr>  
                </table>
                <table style="width:100%">
                        <h2>codecool</h2>
                        <tr>
                            <td class="profile-setting">class:</td>
                            <td class="user-entry"><a href="#">Not yet defined</a></td>
                        </tr>
                        <tr>
                            <td class="profile-setting">class:</td>
                            <td class="user-entry"><a href="#">Not yet defined</a></td>
                        </tr>  
                    </table>         
            </div>
        </div>
    </div>
    <div class="profileContent">
        <h1>students</h1>
        <table class="students-content">
            <tr>
                <td>TOTAL NUMBER:</td>
                <td>Any number</td>
            </tr>
            <tr>
                <td>THROWED OUT:</td>
                <td>Big number</td>
            </tr>
        </table>
    </div>

    <footer></footer>
</body>
</html>