<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Quest Store</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/createUpdateStyle.css">
    <link rel="shortcut icon" type="image/png" href="/static/recourses/codecoolThumbnail.png">
</head>


<body>
    <header>
        <div class="content">
            <nav>
                <ul id="navToolBar">
                    <li><img src="/static/recourses/codecoolLogoprecel.png"></li>
                    <li><a href="profileMentor.html">Profile</a></li>
                    <li><a href="artifactsMentor.html">Store</a></li>
                    <li><a href="questsMentor.html">Quests</a></li>
                    <li><a href="studentList.html">Students</a></li>
                    <li style="float:right"> <a href="/login">log out</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <form method="POST">
    <div class="createArtifactForm">
        <h1>Update artifact</h1>
        <p>Write title</p>
        <input type="text" name="title" value={{title}}>
        <p>Write value</p>
        <input type="text" name="value" value={{value}}>
        <p>Write description</p>
        <textarea name="description" row="30" cols="50">{{description}}</textarea>

       <p></p>
        <input type="submit" name="submitBtn" value="submit">


    </div>
    </form>

    <section id="Field">
        <div class="content">
            <h2></h2>
        </div>
    </section>




    <!-- FOOTER -->
    <footer>
    </footer>

</body>