.createUpdateForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexItem{
    width:50%
 }

.flexTxt {
    width:100%;
}

.createUpdateForm input[type="text"]{
    width: 100%;
}

.createUpdateForm input[type="submit"]{
    margin-top: 5%;
    margin-left: 45%;
    height: 30px;
    width: 70px;
    text-transform: uppercase;
}

#levelSelect{
    height: 30px;;
    width: 130px;
}


.createArtifactForm{
    margin-left: 10%;
}

.createArtifactForm input[type="submit"]{
    margin-top: 0%;
    margin-left: 33%;
    height: 30px;
    width: 70px;
    text-transform: uppercase;
}

.classSelect{
    height: 30px;;
    width: 130px;

}