.usersList {
     display: flex;
     flex-direction: column;
     align-items: center;
  
}

.usersList h4 {
    font-size: 150%;
    color: #F4F4F9;
    width:50%;
    
    
  }

.usersList form input[type="submit"]{
    display: block;
    margin: auto;
}

.usersList table {
    font-size: 100%;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 2%;
}

.usersList td, th {
    /*border: 1px solid #dddddd;*/
    border-style: hidden;
    text-align: center;
    padding: 8px;
    color: #F4F4F9;

    /*background-color: #768993;*/
    background-color: #303D44; ciemny
    height: 50px;
    width: 30px;

}


th {
    background-color: #303D44;
}

/*td:first-child {
    background-color: #303D44;
}*/

.name{
    width: 40%;
}


h3 {
    width:50%}

#buttonContainer{
    width:30%;

}

#inputButton {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 70%;
}

td {
position: relative}

.profile-right {
    display: none
    position: absolute
    width:100px}


.profile-right:hoover {
    display: block}

