.logo {
    position: absolute;
    margin-top: 1%;
    top: 5%;
}

.login-screen {
    display: flex;
    justify-content: center;
    height: 100%;
}
.login-screen img {
    width: 70%;
}

.login-form {
    color: black;
    width: 300px;
    height: 130px;
    position: absolute;
    top: 350px;
}

.login-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 7px;
    color: #F4F3F1;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 10px;
}

.login-form input[type="text"], input[type="password"], input[type="submit"] {
    height: 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.19);    
    text-align: center;
}

.login-form input[type="submit"] {
    border-radius: 25px;
    background-color: #4c98ca; 
    color: #F4F3F1;
    opacity: 3;
    transition: all 0.3s ease;

}

.logAsUser {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 0 0 7px 0;
}

